@font-face {
    font-family: "Pixelated MS Sans Serif";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/JF-Dot-Shinonome16.ttf") format("truetype");
}

@font-face {
    font-family: "Pixelated MS Sans Serif";
    font-style: normal;
    font-weight: 700;
    src: url("/assets/JF-Dot-Shinonome16B.ttf") format("truetype");
}

body
{
    background-color: #5080ff;
}
#main { background-color: aquamarine; }
h1
{
    color: #D800FF;
    text-align: center;
    font-size: 4em;
}
h1::before { content: "-- "; }
h1::after { content: " --"; }
h2 { color: #FF8700; }
h3 { color: gray; }
strong { color: red; }
footer { text-align: center; }
summary
{
    user-select: none;
    cursor: pointer;
    display: inline;
}
div { font-size: 1.2em; }